body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #242424;
	display: flex;
}
.sidebar {
	width: 200px;
	height: max-content;
	background: #333;
	color: white;
	padding: 20px;
}
.sidebar ul {
	list-style: none;
	padding: 0;
}
.sidebar ul li {
	padding: 10px;
	cursor: pointer;
}
.sidebar ul li:hover {
	background: #555;
}
.gallery-container {
	flex: 1;
	padding: 40px;
}
.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(232px, 232px));
	gap: 10px;
	width: 100%;
	margin: auto;
}
.gallery img {
	width: 100%;
	height: 309.33px;
	max-width: 232px;
	max-height: 309.33px;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
	transition: transform 0.3s linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%);
	cursor: pointer;
	background: #333;
	object-fit: cover;
}
.gallery img:hover {
	transform: scale(1.25);
}
.hidden {
	display: none;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98; /* Ensure it's below the info-card but above other content */
    display: none; /* Initially hidden */
}

.info-card {
	width: 60%;
	height: auto;
	max-height: calc(100vh - 50px); /* Adjust the height as needed */
    overflow-y: auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	flex-direction: column;
	align-items: center;
	transition: transform 0.3s ease, opacity 0.3s ease;
	z-index: 99;
}


.info-card .header {
    width: 100%;
    padding-top: 56.25%; /* Maintains 16:9 aspect ratio */
    position: relative;
    overflow: hidden;
}

.info-card .header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

.info-card .content {
    margin-top: 20px;
    text-align: left;
}


.info-card .close {
	position: absolute;
    right: 20px;
}

.info-card img {
    width: 100%;
    border-radius: 8px;
	margin: 0px;
}

.info-card h1, .info-card h2, .info-card p {
	margin: 5px 0;	
    /* width: 500px; */
	/* max-width: 500px; */
	/* max-height: 800px; */
	font-size: 2em;
	resize: vertical; 
}

.close-btn {
	background: red;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
	display: block;
	margin-top: 10px;
	text-align: center;
}